@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #87bc8a;
    font-family: 'Raleway', sans-serif;
}

#body {
    position:absolute;
    top: 5%;
    left: 35%;
    background-color: #d4d2db;
    width: 510px;
    height: 530px;
    border: 3px solid #504f54;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #504f54;
}

button.btn {
    width: 100px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 1px;
}

button.btn-danger {
    box-shadow: 2px 1px #ad0d50;
}

button.btn-success {
    box-shadow: 2px 1px #1a4c1d;
}

button.btn-primary {
    box-shadow: 2px 1px #1a4c1d;
}

button.btn-info {
    box-shadow: 2px 1px #176368;
}

button.colspan2 {
    width: 210px;
}

button.rowspan2 {
    height: 120px;
    font-size: 50px;
}

.form-control {
    height: 70px;
    width: 440px;
    font-size: 50px;
    background-color: #bbc6b6;
    border: 1px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    direction:RTL;
}

h5{
    font-size: 20px;
    font-weight: bold;
}